/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


 * {
   box-sizing: border-box;
   margin: 0;
 }

 body {
   background-color: #F0F2EF;
   background-image: url("https://images2.imgbox.com/f3/3f/3PZbsiJm_o.png");
   background-attachment: fixed;
   font-family: 'Open Sans', sans-serif;
 }



h2 {
   background-color: rgba(103,66,88,0.9);
   color: #8BBFBB;
   font-family: 'Fjalla One', sans-serif;
   font-size: 40px;
   letter-spacing: 1px;
   margin: 0;
   padding: 0px 15px;
   position: relative;
   text-transform: uppercase;
   text-shadow: 1px 1px 2px #111;
}


 /* HEADER CSS BELOW */

 #header {
   background-color: rgba(139,191,187, 0.75);
   height: 40px;
   margin-top: 40px;
   opacity: 0.9;
   position: relative;
 }

 #header h1 {
   color: rgb(79,51,68);
   font-family: 'Fjalla One', sans-serif;
   font-size: 70px;
   letter-spacing: 1px;
   position: absolute;
   right: 20px;
   text-shadow: 3px 3px 3px #111;
   top: -40px;
 }

 #nav {
   background-color: rgb(103,66,88);
   box-shadow: 4px 4px 8px;
   height: 25px;
   opacity: 0.9;
   position: sticky;
   top: 0;
   width: 100vw;
   z-index: 100;
 }

 #nav span {
   float: right;
 }

 #nav a {
   color: #8BBFBB;
   font-size: 15px;
   font-weight: bold;
   letter-spacing: 1px;
   padding: 0px 15px;
   text-decoration: none;
   text-transform: uppercase;
   transition: 0.5s;
 }

 #nav a:hover {
   color: #f0f0f0;
 }


 /* GALLERY CSS BELOW */

 #gallery {
   columns: 4 200px;
   margin: 50px 15vw;
 }

 #gallery img {
   border: 3px solid #63444a;
   border-radius: 10px;
   box-shadow: 4px 4px 6px;
   filter: grayscale(70%);
   object-fit: cover;
   opacity: 0.6;
   transition: 0.75s;
 }

 #gallery img:hover {
   filter: grayscale(0%);
   opacity: 1;
 }


 /* SHOW PAGE BELOW */

#show-page {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 45% 55%;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "meme-info meme-image"
    "meme-reviews meme-image"
    "meme-reviews .";
  padding: 30px 5vw;
}

#show-page #show-image {
   position: relative;
   text-align: center;
}

#show-page img {
  border: 3px solid #63444a;
  border-radius: 10px;
  box-shadow: 4px 4px 6px;
  grid-area: meme-image;
  max-width: 100%;
}

#show-text {
  grid-area: meme-info;
  height: 200px;
}

#show-page h2 {
  background-color: rgba(103,66,88,0.9);
  color: #8BBFBB;
  font-family: 'Fjalla One', sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0px 15px;
  position: relative;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #111;
}

#show-page h2 .memeButtons {
  bottom: -50px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 20px;
  width: 45px;
  z-index: 100;
}

@media (max-width: 800px) {
   #show-page {
      display: initial;
      max-width: 90%;
      padding: 0;
   }

   #show-page img {
      grid-area: none;
   }
}

#show-text p {
  background-color: #CBCBCB;
  border: 15px solid rgba(139,191,187, 0.75);
  color: #111;
  font-size: 1.25em;
  letter-spacing: 1px;
  min-height: 150px;
  padding: 15px;
  position: relative;
}


/* REVIEWS ON THE SHOW PAGE BELOW */

#meme-reviews {
  grid-area: meme-reviews;
  width: 100%;
}

#meme-reviews .meme-review-array-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.review-tile {
  background-color: #CBCBCB;
  flex-direction: row;
  margin: 0 0 20px 0;
  padding: 15px;
  position: relative;
  width: 45%;
}

.review-tile .review-date {
  font-size: 11px;
  font-style: italic;
  position: absolute;
  right: 10px;
  top: 10px;
}

.review-tile .review-username {
  font-size: 12px;
  font-style: italic;
  position: absolute;
  left: 10px;
  bottom: -15px;
}

.review-tile .review-rating {
  font-size: 13px;
  font-weight: bold;
  line-height: 5px;
  position: relative;
  top: 5px;
}

.review-tile .review-comment {
  font-size: 13px;
}

.review-tile .reviewButtons {
   bottom: 5px;
   display: flex;
   justify-content: space-between;
   right: 5px;
   position: absolute;
   width: 45px;
}


/* FORM ON THE SHOW PAGE FOR NEW REVIEWS */

#review-form {
   background-color: rgba(139,191,187, 0.75);
   color: #111;
   font-size: 1.25em;
   letter-spacing: 1px;
   min-height: 150px;
   padding: 30px 30px 15px 30px;
}

.review-form-render {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
}

.review-form-render > * {
   min-width: 45%;
}

#review-form .button,
#new-meme-form .button,
.review-form-edit .button {
   background-color: rgba(103,66,88,0.9);
   width: 100%;
}


/* SIGN UP FORM */

.sign-up,
.log-in,
.new-meme {
   margin: 0 auto;
   position: relative;
   top: 50px;
   width: 33%;
}

.sign-up label,
.log-in label:first-child {
   position: relative;
   top: 25px;
}

.sign-up em,
.log-in em {
   font-size: 12px;
   position: absolute;
   right: 0px;
   top: 180px;
}

.sign-up .actions input,
.log-in .actions input {
   margin: 20px 0;
   width: 100%;
}



/* FLASH FORMATTING */

.flash {
   color: #63444a;
   font-size: 24px;
   font-weight: bold;
   letter-spacing: 2px;
   padding: 30px 0 0 0;
   position: relative;
   text-align: center;
   text-transform: uppercase;
}


/* HIDDEN CLASS */

.hidden {
   display: none;
}
