/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


 * {
   box-sizing: border-box;
   margin: 0;
 }

 body {
   background-color: #F0F2EF;
   font-family: 'Open Sans', sans-serif;
 }


 /* HEADER CSS BELOW */

 #header {
   background-color: rgba(139,191,187, 0.75);
   height: 40px;
   margin-top: 40px;
   opacity: 0.9;
   position: relative;
 }

 #header h1 {
   color: rgb(79,51,68);
   font-family: 'Fjalla One', sans-serif;
   font-size: 70px;
   letter-spacing: 1px;
   position: absolute;
   right: 20px;
   text-shadow: 3px 3px 3px #111;
   top: -40px;
 }

 #nav {
   background-color: rgb(103,66,88);
   box-shadow: 4px 4px 8px;
   height: 25px;
   opacity: 0.9;
   position: sticky;
   top: 0;
   width: 100vw;
   z-index: 100;
 }

 #nav span {
   float: right;
 }

 #nav a {
   color: #8BBFBB;
   font-size: 15px;
   font-weight: bold;
   letter-spacing: 1px;
   padding: 0px 15px;
   text-decoration: none;
   text-transform: uppercase;
   transition: 0.5s;
 }

 #nav a:hover {
   color: #f0f0f0;
 }


 /* GALLERY CSS BELOW */

 #gallery {
   columns: 4 200px;
   margin: 50px 15vw;
 }

 #gallery img {
   border: 3px solid #63444a;
   border-radius: 10px;
   box-shadow: 4px 4px 6px;
   object-fit: cover;
   opacity: 0.6;
   transition: 0.75s;
 }

 #gallery img:hover {
   opacity: 1;
 }


 /* SHOW PAGE BELOW */

#show-page {
   padding: 50px;
}

#show-page img {
   border: 3px solid #63444a;
   border-radius: 10px;
   box-shadow: 4px 4px 6px;
   float: right;
   max-width: 55vw;
}

#show-text {
   box-shadow: 4px 4px 6px #111;
   width: 45%;
}

#show-page h2 {
   background-color: rgba(103,66,88,0.9);
   color: #8BBFBB;
   font-family: 'Fjalla One', sans-serif;
   font-size: 40px;
   letter-spacing: 1px;
   padding: 0px 15px;
   position: relative;
   text-transform: uppercase;
   text-shadow: 1px 1px 2px #111;
}

@media (max-width: 700px) {
   #show-page img {
      border: 3px solid #63444a;
      border-radius: 10px;
      box-shadow: 4px 4px 6px;
      float: none;
      margin: 0 0 30px 0;
      width: 100vw;
   }

   #show-page h2 {
      left: 0;
      width: 80vw;
   }
}

#show-page p {
   /* background-image: linear-gradient(#8BBFBB, transparent); */
   background-color: #CBCBCB;
   color: #111;
   letter-spacing: 1px;
   min-height: 30vh;
   padding: 5px 15px;
   position: relative;
}
